<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div>
        <h2>EJS Site</h2>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
      </ul>
    </nav>
    <h2>About this page</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora eveniet,
      recusandae nulla quo officia voluptatibus dolore qui cum, modi expedita
      illo aliquam officiis alias laudantium labore beatae facilis in
      reprehenderit optio perferendis atque? Ullam error a ex omnis aliquid
      provident dolores sequi magnam officia mollitia architecto eligendi sit
      voluptatum praesentium soluta quo deserunt ipsam, fugit saepe nihil
      obcaecati quia beatae. Eum sed modi ex? Architecto dicta iste adipisci
      vero obcaecati doloribus provident qui possimus sed necessitatibus,
      officia reiciendis optio eveniet autem eum aliquid repudiandae! Quis optio
      ab numquam enim illum mollitia accusamus voluptatem blanditiis aliquid
      itaque sint dolores ex expedita, quos ipsam soluta. Placeat animi
      voluptatem ipsam unde harum. Beatae voluptates inventore voluptate vel,
      aut odit eius facilis aperiam similique.
    </p>
  </body>
</html>
