<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Views engine</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>All Blogs</h2>

      <!-- Templating Engine Only Syntax -->
      <% for(let i = 0; i < blogs.length;i++) { %>
      <div class="blog">
        <h2><%= blogs[i].title %></h2>
        <p><%= blogs[i].content %></p>
      </div>
      <% }%>
    </div>
  </body>
</html>
