<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Views engine</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
      <h2>Create Blog</h2>
      <form action="/blogs/create/add" method="post">
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="content" placeholder="content" />
        <button type="submit">Post Blog</button>
      </form>
    </div>
  </body>
</html>
